/*
 * Icon Font Downloaded
 * Made with love by Icons8 [ https://icons8.com/ ] using FontCustom [ https://github.com/FontCustom/fontcustom ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */


@font-face {
  font-family: "Downloaded";
  src: url("../fonts/Downloaded_fbf288cdd486caab5402f228ea73421f.eot");
  src: url("../fonts/Downloaded_fbf288cdd486caab5402f228ea73421f.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Downloaded_fbf288cdd486caab5402f228ea73421f.woff2") format("woff2"),
       url("../fonts/Downloaded_fbf288cdd486caab5402f228ea73421f.woff") format("woff"),
       url("../fonts/Downloaded_fbf288cdd486caab5402f228ea73421f.ttf") format("truetype"),
       url("../fonts/Downloaded_fbf288cdd486caab5402f228ea73421f.svg#Downloaded") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Downloaded";
    src: url("../fonts/Downloaded_fbf288cdd486caab5402f228ea73421f.svg#Downloaded") format("svg");
  }
}

[data-icons8]:before { content: attr(data-icons8); }

.icons8, [data-icons8]:before,
.icons8-activity-history-2:before,
.icons8-add:before,
.icons8-add-column:before,
.icons8-add-file:before,
.icons8-add-list:before,
.icons8-add-new:before,
.icons8-add-node:before,
.icons8-add-row:before,
.icons8-add-shopping-cart:before,
.icons8-add-tag:before,
.icons8-add-user-male:before,
.icons8-alarm:before,
.icons8-align-justify:before,
.icons8-align-text-bottom:before,
.icons8-align-text-left:before,
.icons8-analyze:before,
.icons8-approval:before,
.icons8-ascending-sorting:before,
.icons8-automation:before,
.icons8-automation-2:before,
.icons8-bookmark-ribbon:before,
.icons8-bookmark-ribbon-filled:before,
.icons8-business-building:before,
.icons8-businessman:before,
.icons8-cancel:before,
.icons8-change:before,
.icons8-checklist:before,
.icons8-circled-female-user:before,
.icons8-clear-search:before,
.icons8-client-management:before,
.icons8-close-program:before,
.icons8-columns:before,
.icons8-content:before,
.icons8-course:before,
.icons8-customer-support:before,
.icons8-data-encryption:before,
.icons8-database-import:before,
.icons8-delete:before,
.icons8-delete-archive:before,
.icons8-delete-column:before,
.icons8-delete-database:before,
.icons8-delete-database-2:before,
.icons8-delete-document:before,
.icons8-delete-file:before,
.icons8-delete-forever:before,
.icons8-delete-row:before,
.icons8-delete-subnode:before,
.icons8-deleted-message:before,
.icons8-depot:before,
.icons8-descending-sorting:before,
.icons8-details:before,
.icons8-diff-files:before,
.icons8-document-header:before,
.icons8-downloads-folder:before,
.icons8-easel:before,
.icons8-edit:before,
.icons8-edit-file:before,
.icons8-edit-filled:before,
.icons8-edit-node:before,
.icons8-entering-geo-fence:before,
.icons8-expand-arrow:before,
.icons8-export-pdf:before,
.icons8-eye:before,
.icons8-eye-filled:before,
.icons8-facebook-messenger:before,
.icons8-file:before,
.icons8-forward-message:before,
.icons8-gps:before,
.icons8-grid:before,
.icons8-group-of-projects:before,
.icons8-header-1:before,
.icons8-header-2:before,
.icons8-header-3:before,
.icons8-here:before,
.icons8-id-card:before,
.icons8-import-csv:before,
.icons8-incoming-data:before,
.icons8-insert-table:before,
.icons8-many-to-many:before,
.icons8-map-editing:before,
.icons8-marker-off:before,
.icons8-menu-2:before,
.icons8-menu-2-2:before,
.icons8-menu-2-filled:before,
.icons8-message:before,
.icons8-move:before,
.icons8-multiply:before,
.icons8-near-me:before,
.icons8-new-company:before,
.icons8-new-copy:before,
.icons8-new-file:before,
.icons8-new-message:before,
.icons8-notification:before,
.icons8-notification-filled:before,
.icons8-ok:before,
.icons8-open-file-under-cursor:before,
.icons8-open-file-under-cursor-filled:before,
.icons8-page-overview-3:before,
.icons8-page-overview-4:before,
.icons8-pen:before,
.icons8-pin:before,
.icons8-pin-3:before,
.icons8-plus:before,
.icons8-plus-math:before,
.icons8-powerpoint:before,
.icons8-ppt:before,
.icons8-remove-tag:before,
.icons8-remove-user-male:before,
.icons8-reuse:before,
.icons8-rotate:before,
.icons8-screenshot:before,
.icons8-search:before,
.icons8-search-filled:before,
.icons8-send:before,
.icons8-services:before,
.icons8-services-2:before,
.icons8-settings:before,
.icons8-share-2:before,
.icons8-sidebar-menu:before,
.icons8-sort:before,
.icons8-sort-down:before,
.icons8-sort-down-filled:before,
.icons8-sort-filled:before,
.icons8-sort-up:before,
.icons8-sort-up-filled:before,
.icons8-sorting-options:before,
.icons8-speech-bubble:before,
.icons8-summary-list:before,
.icons8-synchronize:before,
.icons8-template:before,
.icons8-tiles:before,
.icons8-transaction-list:before,
.icons8-trash:before,
.icons8-trash-can:before,
.icons8-user:before,
.icons8-user-filled:before,
.icons8-versions:before,
.icons8-view:before,
.icons8-view-column:before,
.icons8-view-module-filled:before,
.icons8-visit:before,
.icons8-whatsapp:before,
.icons8-xlarge-icons:before,
.icons8-xlarge-icons-filled:before,
.icons8-xls:before,
.icons8-zoom-in:before {
  display: inline-block;
  font-family: "Downloaded";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icons8-activity-history-2:before { content: "\f191"; }
.icons8-add:before { content: "\f17e"; }
.icons8-add-column:before { content: "\f15b"; }
.icons8-add-file:before { content: "\f180"; }
.icons8-add-list:before { content: "\f10c"; }
.icons8-add-new:before { content: "\f17f"; }
.icons8-add-node:before { content: "\f126"; }
.icons8-add-row:before { content: "\f117"; }
.icons8-add-shopping-cart:before { content: "\f148"; }
.icons8-add-tag:before { content: "\f181"; }
.icons8-add-user-male:before { content: "\f11e"; }
.icons8-alarm:before { content: "\f196"; }
.icons8-align-justify:before { content: "\f130"; }
.icons8-align-text-bottom:before { content: "\f199"; }
.icons8-align-text-left:before { content: "\f19f"; }
.icons8-analyze:before { content: "\f142"; }
.icons8-approval:before { content: "\f150"; }
.icons8-ascending-sorting:before { content: "\f12b"; }
.icons8-automation:before { content: "\f10a"; }
.icons8-automation-2:before { content: "\f139"; }
.icons8-bookmark-ribbon:before { content: "\f10e"; }
.icons8-bookmark-ribbon-filled:before { content: "\f10d"; }
.icons8-business-building:before { content: "\f16c"; }
.icons8-businessman:before { content: "\f18a"; }
.icons8-cancel:before { content: "\f105"; }
.icons8-change:before { content: "\f19e"; }
.icons8-checklist:before { content: "\f1af"; }
.icons8-circled-female-user:before { content: "\f12c"; }
.icons8-clear-search:before { content: "\f1ae"; }
.icons8-client-management:before { content: "\f18c"; }
.icons8-close-program:before { content: "\f176"; }
.icons8-columns:before { content: "\f147"; }
.icons8-content:before { content: "\f118"; }
.icons8-course:before { content: "\f133"; }
.icons8-customer-support:before { content: "\f16d"; }
.icons8-data-encryption:before { content: "\f197"; }
.icons8-database-import:before { content: "\f193"; }
.icons8-delete:before { content: "\f178"; }
.icons8-delete-archive:before { content: "\f177"; }
.icons8-delete-column:before { content: "\f146"; }
.icons8-delete-database:before { content: "\f175"; }
.icons8-delete-database-2:before { content: "\f1a1"; }
.icons8-delete-document:before { content: "\f17b"; }
.icons8-delete-file:before { content: "\f174"; }
.icons8-delete-forever:before { content: "\f124"; }
.icons8-delete-row:before { content: "\f11b"; }
.icons8-delete-subnode:before { content: "\f186"; }
.icons8-deleted-message:before { content: "\f17a"; }
.icons8-depot:before { content: "\f170"; }
.icons8-descending-sorting:before { content: "\f123"; }
.icons8-details:before { content: "\f15d"; }
.icons8-diff-files:before { content: "\f14b"; }
.icons8-document-header:before { content: "\f173"; }
.icons8-downloads-folder:before { content: "\f158"; }
.icons8-easel:before { content: "\f1b1"; }
.icons8-edit:before { content: "\f106"; }
.icons8-edit-file:before { content: "\f14f"; }
.icons8-edit-filled:before { content: "\f153"; }
.icons8-edit-node:before { content: "\f185"; }
.icons8-entering-geo-fence:before { content: "\f159"; }
.icons8-expand-arrow:before { content: "\f103"; }
.icons8-export-pdf:before { content: "\f132"; }
.icons8-eye:before { content: "\f188"; }
.icons8-eye-filled:before { content: "\f189"; }
.icons8-facebook-messenger:before { content: "\f144"; }
.icons8-file:before { content: "\f119"; }
.icons8-forward-message:before { content: "\f128"; }
.icons8-gps:before { content: "\f1a3"; }
.icons8-grid:before { content: "\f1a0"; }
.icons8-group-of-projects:before { content: "\f18f"; }
.icons8-header-1:before { content: "\f12d"; }
.icons8-header-2:before { content: "\f12e"; }
.icons8-header-3:before { content: "\f12f"; }
.icons8-here:before { content: "\f19a"; }
.icons8-id-card:before { content: "\f154"; }
.icons8-import-csv:before { content: "\f11f"; }
.icons8-incoming-data:before { content: "\f184"; }
.icons8-insert-table:before { content: "\f198"; }
.icons8-many-to-many:before { content: "\f195"; }
.icons8-map-editing:before { content: "\f19b"; }
.icons8-marker-off:before { content: "\f1a4"; }
.icons8-menu-2:before { content: "\f15f"; }
.icons8-menu-2-2:before { content: "\f160"; }
.icons8-menu-2-filled:before { content: "\f161"; }
.icons8-message:before { content: "\f108"; }
.icons8-move:before { content: "\f114"; }
.icons8-multiply:before { content: "\f116"; }
.icons8-near-me:before { content: "\f1a2"; }
.icons8-new-company:before { content: "\f138"; }
.icons8-new-copy:before { content: "\f182"; }
.icons8-new-file:before { content: "\f187"; }
.icons8-new-message:before { content: "\f13d"; }
.icons8-notification:before { content: "\f1ac"; }
.icons8-notification-filled:before { content: "\f1a9"; }
.icons8-ok:before { content: "\f104"; }
.icons8-open-file-under-cursor:before { content: "\f18d"; }
.icons8-open-file-under-cursor-filled:before { content: "\f18e"; }
.icons8-page-overview-3:before { content: "\f120"; }
.icons8-page-overview-4:before { content: "\f125"; }
.icons8-pen:before { content: "\f12a"; }
.icons8-pin:before { content: "\f183"; }
.icons8-pin-3:before { content: "\f11c"; }
.icons8-plus:before { content: "\f13b"; }
.icons8-plus-math:before { content: "\f14d"; }
.icons8-powerpoint:before { content: "\f18b"; }
.icons8-ppt:before { content: "\f134"; }
.icons8-remove-tag:before { content: "\f17d"; }
.icons8-remove-user-male:before { content: "\f17c"; }
.icons8-reuse:before { content: "\f151"; }
.icons8-rotate:before { content: "\f129"; }
.icons8-screenshot:before { content: "\f109"; }
.icons8-search:before { content: "\f1ad"; }
.icons8-search-filled:before { content: "\f140"; }
.icons8-send:before { content: "\f163"; }
.icons8-services:before { content: "\f136"; }
.icons8-services-2:before { content: "\f137"; }
.icons8-settings:before { content: "\f141"; }
.icons8-share-2:before { content: "\f192"; }
.icons8-sidebar-menu:before { content: "\f131"; }
.icons8-sort:before { content: "\f169"; }
.icons8-sort-down:before { content: "\f165"; }
.icons8-sort-down-filled:before { content: "\f167"; }
.icons8-sort-filled:before { content: "\f16a"; }
.icons8-sort-up:before { content: "\f166"; }
.icons8-sort-up-filled:before { content: "\f168"; }
.icons8-sorting-options:before { content: "\f10f"; }
.icons8-speech-bubble:before { content: "\f13e"; }
.icons8-summary-list:before { content: "\f11a"; }
.icons8-synchronize:before { content: "\f156"; }
.icons8-template:before { content: "\f172"; }
.icons8-tiles:before { content: "\f11d"; }
.icons8-transaction-list:before { content: "\f19d"; }
.icons8-trash:before { content: "\f10b"; }
.icons8-trash-can:before { content: "\f179"; }
.icons8-user:before { content: "\f13f"; }
.icons8-user-filled:before { content: "\f1a6"; }
.icons8-versions:before { content: "\f122"; }
.icons8-view:before { content: "\f127"; }
.icons8-view-column:before { content: "\f110"; }
.icons8-view-module-filled:before { content: "\f15c"; }
.icons8-visit:before { content: "\f19c"; }
.icons8-whatsapp:before { content: "\f145"; }
.icons8-xlarge-icons:before { content: "\f112"; }
.icons8-xlarge-icons-filled:before { content: "\f111"; }
.icons8-xls:before { content: "\f135"; }
.icons8-zoom-in:before { content: "\f121"; }