<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"><!-- maximum-scale=1.0 -->
		
	   	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>	
		<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,300,700,700italic,400italic,900"/>						
		<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700"/>
	   	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"/>
	  	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"/>
	 	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Julius+Sans+One:500,600,400"/>
	   	<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700&subset=all"/>
	    <!-- <link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/jquery-ui-git.css"/> -->
	   	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css"/>
		<link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css"/>
		
		<link type="text/css" rel="stylesheet" href="/resource/css/style.css"/>
		<link type="text/css" rel="stylesheet" href="/resource/css/imageGallery.css"/>
		<link type="text/css" rel="stylesheet" href="/resource/css/carousel.css"/>
		<link type="text/css" rel="stylesheet" href="/resource/css/table.css"/>
		<link type="text/css" rel="stylesheet" href="/resource/css/cs.css"/>
	
		<!--<link type="text/css" rel="stylesheet" href="/resource/css/all.css"/>-->
		
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		
		<!--<script type="text/javascript" src="https://cdn.optimizely.com/js/2960000335.js"></script>-->
		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" async defer></script>
		<!--<script type="text/javascript" src="https://fb.me/react-with-addons-0.13.3.min.js"></script>-->
	  	<!--<script type="text/javascript" src="https://apis.google.com/js/client:platform.js"></script>
		<script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>-->
		<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>-->
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/1.5.1/math.min.js" async defer></script>
	    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places" async defer></script>
	    <script type="text/javascript" src="https://widget.cloudinary.com/global/all.js" async defer></script>
	  
	    <script type="text/javascript" src="/resource/js/bundle.js"></script>
		<script type="text/javascript" src="/resource/js/tracking.js"></script>
		<script type="text/javascript" src="/resource/js/plugins/ajaxQueue.js"></script>
		
		<!--<script type="text/javascript" src="/resource/js/all.js"></script>-->
		