<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"><!-- maximum-scale=1.0 -->

	   	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
		<!--<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,300,700,700italic,400italic,900"/>-->
		<!--<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700"/>-->
	   	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"/>
	   	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css"/>
		<link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css"/>

		<link type="text/css" rel="stylesheet" href="/resource/css/style.css"/>
		<link type="text/css" rel="stylesheet" href="/resource/css/icons8/css/styles.min.css"/>
		<link type="text/css" rel="stylesheet" href="/resource/css/imageGallery.css"/>
		<link type="text/css" rel="stylesheet" href="/resource/css/carousel.css"/>
		<link type="text/css" rel="stylesheet" href="/resource/css/table.css"/>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet"/> 

		<!--<link rel="stylesheet" type="text/css" media="screen" href="https://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css">-->
		<link rel="stylesheet" type="text/css" media="print" href="/resource/css/print.css">

		<!--<link type="text/css" rel="stylesheet" href="/resource/css/all.css"/>-->
		
		<script type="text/javascript" src="/resource/js/pptgen/libs/jquery.min.js"></script>
		<script type="text/javascript" src="/resource/js/pptgen/libs/jszip.min.js"></script>
		<script type="text/javascript" src="/resource/js/pptgen/dist/pptxgen.js"></script>
		<script type="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

		<!--<script type="text/javascript" src="https://cdn.optimizely.com/js/2960000335.js"></script>-->
		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" async defer></script>
		<!--<script type="text/javascript" src="https://fb.me/react-with-addons-0.13.3.min.js"></script>-->
	  	<!--<script type="text/javascript" src="https://apis.google.com/js/client:platform.js"></script>
		<script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>-->
		<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>-->
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/1.5.1/math.min.js" async defer></script>
	    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places" async defer></script>-->
	    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCN7B2zfWUm2_RZ90V7HYfeyXI3a5BLxpA&libraries=geometry,places" async defer></script>
	    <script type="text/javascript" src="https://widget.cloudinary.com/global/all.js" async defer></script>

	    <script type="text/javascript" src="/resource/js/socket.io.js"></script>
	    <script type="text/javascript" src="/resource/js/socket.io-stream.js"></script>
	     
	    
		<link type="text/css" rel="stylesheet" href="/resource/css/Chat.css"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js"></script>
		<script type="text/javascript" src="/resource/js/tracking.js"></script>
		<script src="/resource/js/tracking_new.js"></script>
    <script src="/resource/js/doc_cookies.js"></script>
		<script type="text/javascript" src="/resource/js/plugins/ajaxQueue.js"></script>
		
		<!--<script type="text/javascript" src="/resource/js/all.js"></script>-->
		<!--<link type="text/css" rel="stylesheet" href="/resource/css/medium-editor.css"/>-->

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.7/download.min.js"></script>
		

	    <script type="text/javascript" src="/resource/js/offline.js"></script>
		<link type="text/css" rel="stylesheet" href="/resource/css/offline.css"/>
