// Variables
// --------------------------


$icons8-css-prefix: "icons8";
$icons8-font-name: "Downloaded";
$icons8-font-path: "../fonts";

$icons8-var-activity-history-2: "\f191";
$icons8-var-add: "\f17e";
$icons8-var-add-2: "\f20d";
$icons8-var-add-3: "\f20e";
$icons8-var-add-administrator: "\f1e7";
$icons8-var-add-administrator-2: "\f1e8";
$icons8-var-add-column: "\f15b";
$icons8-var-add-file: "\f180";
$icons8-var-add-file-2: "\f1d4";
$icons8-var-add-folder: "\f1d2";
$icons8-var-add-folder-2: "\f1d3";
$icons8-var-add-key: "\f1e2";
$icons8-var-add-key-2: "\f1e3";
$icons8-var-add-link: "\f20f";
$icons8-var-add-list: "\f10c";
$icons8-var-add-list-2: "\f231";
$icons8-var-add-new: "\f17f";
$icons8-var-add-new-2: "\f232";
$icons8-var-add-node: "\f126";
$icons8-var-add-node-2: "\f1e6";
$icons8-var-add-row: "\f117";
$icons8-var-add-shopping-cart: "\f148";
$icons8-var-add-tag: "\f181";
$icons8-var-add-text: "\f1c5";
$icons8-var-add-text-2: "\f1c6";
$icons8-var-add-user-group-man-man: "\f1e4";
$icons8-var-add-user-group-man-man-2: "\f1f8";
$icons8-var-add-user-male: "\f11e";
$icons8-var-add-user-male-2: "\f1e1";
$icons8-var-align-justify: "\f130";
$icons8-var-align-text-bottom: "\f199";
$icons8-var-align-text-left: "\f19f";
$icons8-var-analyze: "\f142";
$icons8-var-analyze-2: "\f22b";
$icons8-var-approval: "\f150";
$icons8-var-archive-folder: "\f246";
$icons8-var-ascending-sorting: "\f12b";
$icons8-var-attachment-pin: "\f214";
$icons8-var-attachment-pin-2: "\f215";
$icons8-var-automation: "\f10a";
$icons8-var-automation-2: "\f139";
$icons8-var-bad-decision: "\f1bf";
$icons8-var-bill: "\f23f";
$icons8-var-bookmark-ribbon: "\f10e";
$icons8-var-bookmark-ribbon-filled: "\f10d";
$icons8-var-business-building: "\f16c";
$icons8-var-businessman: "\f18a";
$icons8-var-cancel: "\f105";
$icons8-var-change: "\f19e";
$icons8-var-checklist: "\f1af";
$icons8-var-circled-female-user: "\f12c";
$icons8-var-clear-search: "\f1ae";
$icons8-var-client-management: "\f18c";
$icons8-var-close-program: "\f176";
$icons8-var-close-program-2: "\f24c";
$icons8-var-cloud-computing: "\f252";
$icons8-var-collaboration: "\f1cf";
$icons8-var-columns: "\f147";
$icons8-var-comments: "\f217";
$icons8-var-contact: "\f227";
$icons8-var-contacts: "\f1cc";
$icons8-var-contacts-2: "\f1cd";
$icons8-var-contacts-3: "\f1ce";
$icons8-var-content: "\f118";
$icons8-var-copy-file: "\f1d5";
$icons8-var-copy-file-2: "\f1d6";
$icons8-var-course: "\f133";
$icons8-var-course-2: "\f24e";
$icons8-var-customer-support: "\f16d";
$icons8-var-data-encryption: "\f197";
$icons8-var-database-import: "\f193";
$icons8-var-delete: "\f178";
$icons8-var-delete-2: "\f237";
$icons8-var-delete-archive: "\f177";
$icons8-var-delete-archive-2: "\f235";
$icons8-var-delete-column: "\f146";
$icons8-var-delete-database: "\f175";
$icons8-var-delete-database-2: "\f1a1";
$icons8-var-delete-document: "\f17b";
$icons8-var-delete-document-2: "\f23b";
$icons8-var-delete-file: "\f1d7";
$icons8-var-delete-file-2: "\f1d8";
$icons8-var-delete-folder: "\f1db";
$icons8-var-delete-folder-2: "\f202";
$icons8-var-delete-forever: "\f124";
$icons8-var-delete-forever-2: "\f236";
$icons8-var-delete-row: "\f11b";
$icons8-var-delete-subnode: "\f186";
$icons8-var-deleted-message: "\f17a";
$icons8-var-deleted-message-2: "\f21d";
$icons8-var-depot: "\f170";
$icons8-var-descending-sorting: "\f123";
$icons8-var-desktop-download: "\f1ec";
$icons8-var-desktop-download-2: "\f1ed";
$icons8-var-details: "\f15d";
$icons8-var-diff-files: "\f14b";
$icons8-var-document: "\f23a";
$icons8-var-document-header: "\f173";
$icons8-var-document-header-2: "\f22c";
$icons8-var-download: "\f1c8";
$icons8-var-download-2: "\f1f0";
$icons8-var-download-3: "\f1f1";
$icons8-var-download-from-the-cloud: "\f212";
$icons8-var-download-from-the-cloud-2: "\f213";
$icons8-var-downloads-folder: "\f158";
$icons8-var-downloads-folder-2: "\f22e";
$icons8-var-dropbox: "\f1c9";
$icons8-var-dropbox-2: "\f1ca";
$icons8-var-easel: "\f1b1";
$icons8-var-easel-2: "\f22d";
$icons8-var-edit: "\f106";
$icons8-var-edit-file: "\f14f";
$icons8-var-edit-file-2: "\f1ee";
$icons8-var-edit-filled: "\f153";
$icons8-var-edit-node: "\f185";
$icons8-var-edit-node-2: "\f245";
$icons8-var-email-document: "\f224";
$icons8-var-email-envelope: "\f21a";
$icons8-var-email-envelope-2: "\f21e";
$icons8-var-email-envelope-3: "\f220";
$icons8-var-empty-document: "\f239";
$icons8-var-entering-geo-fence: "\f159";
$icons8-var-error: "\f1bd";
$icons8-var-expand-arrow: "\f103";
$icons8-var-export-pdf: "\f132";
$icons8-var-eye: "\f188";
$icons8-var-eye-filled: "\f189";
$icons8-var-facebook-messenger: "\f144";
$icons8-var-file: "\f119";
$icons8-var-file-submodule: "\f1ef";
$icons8-var-filter: "\f20b";
$icons8-var-filter-2: "\f20c";
$icons8-var-folder-invoices: "\f1eb";
$icons8-var-forward-message: "\f128";
$icons8-var-gps: "\f1a3";
$icons8-var-grid: "\f1a0";
$icons8-var-group: "\f1f7";
$icons8-var-group-2: "\f1f4";
$icons8-var-group-3: "\f1f5";
$icons8-var-group-message: "\f21b";
$icons8-var-group-of-projects: "\f18f";
$icons8-var-header-1: "\f12d";
$icons8-var-header-2: "\f12e";
$icons8-var-header-3: "\f12f";
$icons8-var-height: "\f1fb";
$icons8-var-height-2: "\f1fc";
$icons8-var-here: "\f19a";
$icons8-var-horizontal-line: "\f1f9";
$icons8-var-horizontal-line-2: "\f1fa";
$icons8-var-id-card: "\f154";
$icons8-var-id-not-verified: "\f1b9";
$icons8-var-id-not-verified-2: "\f1ba";
$icons8-var-id-not-verified-filled: "\f1bb";
$icons8-var-identification-documents: "\f226";
$icons8-var-import-csv: "\f11f";
$icons8-var-import-csv-2: "\f254";
$icons8-var-incoming-data: "\f184";
$icons8-var-info: "\f1e9";
$icons8-var-info-2: "\f1ea";
$icons8-var-insert-table: "\f198";
$icons8-var-instagram-comment: "\f218";
$icons8-var-instagram-comment-2: "\f219";
$icons8-var-journal: "\f24a";
$icons8-var-journal-records: "\f243";
$icons8-var-key: "\f200";
$icons8-var-key-2: "\f201";
$icons8-var-key-2-2: "\f207";
$icons8-var-key-2-3: "\f208";
$icons8-var-left-2: "\f1b7";
$icons8-var-left-arrow: "\f259";
$icons8-var-line: "\f1c1";
$icons8-var-link: "\f211";
$icons8-var-lock: "\f203";
$icons8-var-lock-2: "\f204";
$icons8-var-login-as-user: "\f22a";
$icons8-var-many-to-many: "\f195";
$icons8-var-map-editing: "\f19b";
$icons8-var-marker-off: "\f1a4";
$icons8-var-menu-2: "\f15f";
$icons8-var-menu-2-2: "\f160";
$icons8-var-menu-2-filled: "\f161";
$icons8-var-message: "\f108";
$icons8-var-microsoft-excel: "\f242";
$icons8-var-move: "\f114";
$icons8-var-multiply: "\f116";
$icons8-var-name: "\f1be";
$icons8-var-near-me: "\f1a2";
$icons8-var-new-company: "\f138";
$icons8-var-new-copy: "\f182";
$icons8-var-new-copy-2: "\f248";
$icons8-var-new-file: "\f187";
$icons8-var-new-file-2: "\f244";
$icons8-var-new-message: "\f13d";
$icons8-var-new-message-2: "\f21c";
$icons8-var-notification: "\f1ac";
$icons8-var-notification-filled: "\f1a9";
$icons8-var-ok: "\f104";
$icons8-var-ok-2: "\f22f";
$icons8-var-ok-3: "\f230";
$icons8-var-open-document: "\f23c";
$icons8-var-open-file-under-cursor: "\f18d";
$icons8-var-open-file-under-cursor-filled: "\f18e";
$icons8-var-outline-of-a-face: "\f228";
$icons8-var-padlock: "\f205";
$icons8-var-padlock-2: "\f206";
$icons8-var-page-overview-3: "\f120";
$icons8-var-page-overview-4: "\f125";
$icons8-var-paper-with-arrow-right: "\f1d9";
$icons8-var-paper-with-arrow-right-2: "\f1da";
$icons8-var-pdf: "\f216";
$icons8-var-pdf-2: "\f23d";
$icons8-var-pdf-3: "\f23e";
$icons8-var-pen: "\f12a";
$icons8-var-pin: "\f183";
$icons8-var-pin-3: "\f11c";
$icons8-var-plus: "\f13b";
$icons8-var-plus-math: "\f14d";
$icons8-var-powerpoint: "\f18b";
$icons8-var-ppt: "\f134";
$icons8-var-price-tag: "\f1d0";
$icons8-var-profile-picture-placeholder: "\f229";
$icons8-var-remove-administrator: "\f1df";
$icons8-var-remove-administrator-2: "\f1e0";
$icons8-var-remove-key-2: "\f1de";
$icons8-var-remove-tag: "\f17d";
$icons8-var-remove-user-male: "\f17c";
$icons8-var-reply-all-arrow: "\f1b5";
$icons8-var-reply-all-arrow-2: "\f1b6";
$icons8-var-reply-arrow: "\f1b3";
$icons8-var-reply-arrow-2: "\f1b4";
$icons8-var-restore: "\f1c2";
$icons8-var-reuse: "\f151";
$icons8-var-reuse-2: "\f238";
$icons8-var-right-pointing-arrow: "\f1fd";
$icons8-var-right-pointing-arrow-2: "\f1fe";
$icons8-var-rotate: "\f129";
$icons8-var-save-close: "\f1c3";
$icons8-var-screenshot: "\f109";
$icons8-var-search: "\f1ad";
$icons8-var-search-filled: "\f140";
$icons8-var-select-all: "\f249";
$icons8-var-send: "\f163";
$icons8-var-send-2: "\f221";
$icons8-var-send-email: "\f257";
$icons8-var-services: "\f136";
$icons8-var-services-2: "\f137";
$icons8-var-set-as-resume: "\f24b";
$icons8-var-settings: "\f141";
$icons8-var-share: "\f210";
$icons8-var-share-2: "\f192";
$icons8-var-shopping-cart: "\f1cb";
$icons8-var-sidebar-menu: "\f131";
$icons8-var-smart-card: "\f225";
$icons8-var-sort: "\f169";
$icons8-var-sort-by-recently-viewed: "\f20a";
$icons8-var-sort-down: "\f165";
$icons8-var-sort-down-filled: "\f167";
$icons8-var-sort-filled: "\f16a";
$icons8-var-sort-up: "\f166";
$icons8-var-sort-up-filled: "\f168";
$icons8-var-sorting-options: "\f10f";
$icons8-var-speech-bubble: "\f13e";
$icons8-var-summary-list: "\f11a";
$icons8-var-summary-list-2: "\f24d";
$icons8-var-synchronize: "\f156";
$icons8-var-table-properties: "\f247";
$icons8-var-template: "\f172";
$icons8-var-template-2: "\f241";
$icons8-var-three-dots-symbol: "\f222";
$icons8-var-three-dots-symbol-2: "\f223";
$icons8-var-tiles: "\f11d";
$icons8-var-transaction-list: "\f19d";
$icons8-var-trash: "\f10b";
$icons8-var-trash-2: "\f234";
$icons8-var-trash-can: "\f179";
$icons8-var-upload-to-cloud: "\f251";
$icons8-var-upload-to-the-cloud: "\f250";
$icons8-var-upload-to-the-cloud-2: "\f255";
$icons8-var-user: "\f13f";
$icons8-var-user-filled: "\f1a6";
$icons8-var-versions: "\f122";
$icons8-var-view: "\f127";
$icons8-var-view-column: "\f110";
$icons8-var-view-module-filled: "\f15c";
$icons8-var-visit: "\f19c";
$icons8-var-whatsapp: "\f145";
$icons8-var-whatsapp-2: "\f21f";
$icons8-var-xlarge-icons: "\f112";
$icons8-var-xlarge-icons-filled: "\f111";
$icons8-var-xls: "\f135";
$icons8-var-xls-2: "\f240";
$icons8-var-zoom-in: "\f121";
