// Variables
// --------------------------


$icons8-css-prefix: "icons8";
$icons8-font-name: "Downloaded";
$icons8-font-path: "../fonts";

$icons8-var-activity-history-2: "\f191";
$icons8-var-add: "\f17e";
$icons8-var-add-column: "\f15b";
$icons8-var-add-file: "\f180";
$icons8-var-add-list: "\f10c";
$icons8-var-add-new: "\f17f";
$icons8-var-add-node: "\f126";
$icons8-var-add-row: "\f117";
$icons8-var-add-shopping-cart: "\f148";
$icons8-var-add-tag: "\f181";
$icons8-var-add-user-male: "\f11e";
$icons8-var-alarm: "\f196";
$icons8-var-align-justify: "\f130";
$icons8-var-align-text-bottom: "\f199";
$icons8-var-align-text-left: "\f19f";
$icons8-var-analyze: "\f142";
$icons8-var-approval: "\f150";
$icons8-var-ascending-sorting: "\f12b";
$icons8-var-automation: "\f10a";
$icons8-var-automation-2: "\f139";
$icons8-var-bookmark-ribbon: "\f10e";
$icons8-var-bookmark-ribbon-filled: "\f10d";
$icons8-var-business-building: "\f16c";
$icons8-var-businessman: "\f18a";
$icons8-var-cancel: "\f105";
$icons8-var-change: "\f19e";
$icons8-var-checklist: "\f1af";
$icons8-var-circled-female-user: "\f12c";
$icons8-var-clear-search: "\f1ae";
$icons8-var-client-management: "\f18c";
$icons8-var-close-program: "\f176";
$icons8-var-columns: "\f147";
$icons8-var-content: "\f118";
$icons8-var-course: "\f133";
$icons8-var-customer-support: "\f16d";
$icons8-var-data-encryption: "\f197";
$icons8-var-database-import: "\f193";
$icons8-var-delete: "\f178";
$icons8-var-delete-archive: "\f177";
$icons8-var-delete-column: "\f146";
$icons8-var-delete-database: "\f175";
$icons8-var-delete-database-2: "\f1a1";
$icons8-var-delete-document: "\f17b";
$icons8-var-delete-file: "\f174";
$icons8-var-delete-forever: "\f124";
$icons8-var-delete-row: "\f11b";
$icons8-var-delete-subnode: "\f186";
$icons8-var-deleted-message: "\f17a";
$icons8-var-depot: "\f170";
$icons8-var-descending-sorting: "\f123";
$icons8-var-details: "\f15d";
$icons8-var-diff-files: "\f14b";
$icons8-var-document-header: "\f173";
$icons8-var-downloads-folder: "\f158";
$icons8-var-easel: "\f1b1";
$icons8-var-edit: "\f106";
$icons8-var-edit-file: "\f14f";
$icons8-var-edit-filled: "\f153";
$icons8-var-edit-node: "\f185";
$icons8-var-entering-geo-fence: "\f159";
$icons8-var-expand-arrow: "\f103";
$icons8-var-export-pdf: "\f132";
$icons8-var-eye: "\f188";
$icons8-var-eye-filled: "\f189";
$icons8-var-facebook-messenger: "\f144";
$icons8-var-file: "\f119";
$icons8-var-forward-message: "\f128";
$icons8-var-gps: "\f1a3";
$icons8-var-grid: "\f1a0";
$icons8-var-group-of-projects: "\f18f";
$icons8-var-header-1: "\f12d";
$icons8-var-header-2: "\f12e";
$icons8-var-header-3: "\f12f";
$icons8-var-here: "\f19a";
$icons8-var-id-card: "\f154";
$icons8-var-import-csv: "\f11f";
$icons8-var-incoming-data: "\f184";
$icons8-var-insert-table: "\f198";
$icons8-var-many-to-many: "\f195";
$icons8-var-map-editing: "\f19b";
$icons8-var-marker-off: "\f1a4";
$icons8-var-menu-2: "\f15f";
$icons8-var-menu-2-2: "\f160";
$icons8-var-menu-2-filled: "\f161";
$icons8-var-message: "\f108";
$icons8-var-move: "\f114";
$icons8-var-multiply: "\f116";
$icons8-var-near-me: "\f1a2";
$icons8-var-new-company: "\f138";
$icons8-var-new-copy: "\f182";
$icons8-var-new-file: "\f187";
$icons8-var-new-message: "\f13d";
$icons8-var-notification: "\f1ac";
$icons8-var-notification-filled: "\f1a9";
$icons8-var-ok: "\f104";
$icons8-var-open-file-under-cursor: "\f18d";
$icons8-var-open-file-under-cursor-filled: "\f18e";
$icons8-var-page-overview-3: "\f120";
$icons8-var-page-overview-4: "\f125";
$icons8-var-pen: "\f12a";
$icons8-var-pin: "\f183";
$icons8-var-pin-3: "\f11c";
$icons8-var-plus: "\f13b";
$icons8-var-plus-math: "\f14d";
$icons8-var-powerpoint: "\f18b";
$icons8-var-ppt: "\f134";
$icons8-var-remove-tag: "\f17d";
$icons8-var-remove-user-male: "\f17c";
$icons8-var-reuse: "\f151";
$icons8-var-rotate: "\f129";
$icons8-var-screenshot: "\f109";
$icons8-var-search: "\f1ad";
$icons8-var-search-filled: "\f140";
$icons8-var-send: "\f163";
$icons8-var-services: "\f136";
$icons8-var-services-2: "\f137";
$icons8-var-settings: "\f141";
$icons8-var-share-2: "\f192";
$icons8-var-sidebar-menu: "\f131";
$icons8-var-sort: "\f169";
$icons8-var-sort-down: "\f165";
$icons8-var-sort-down-filled: "\f167";
$icons8-var-sort-filled: "\f16a";
$icons8-var-sort-up: "\f166";
$icons8-var-sort-up-filled: "\f168";
$icons8-var-sorting-options: "\f10f";
$icons8-var-speech-bubble: "\f13e";
$icons8-var-summary-list: "\f11a";
$icons8-var-synchronize: "\f156";
$icons8-var-template: "\f172";
$icons8-var-tiles: "\f11d";
$icons8-var-transaction-list: "\f19d";
$icons8-var-trash: "\f10b";
$icons8-var-trash-can: "\f179";
$icons8-var-user: "\f13f";
$icons8-var-user-filled: "\f1a6";
$icons8-var-versions: "\f122";
$icons8-var-view: "\f127";
$icons8-var-view-column: "\f110";
$icons8-var-view-module-filled: "\f15c";
$icons8-var-visit: "\f19c";
$icons8-var-whatsapp: "\f145";
$icons8-var-xlarge-icons: "\f112";
$icons8-var-xlarge-icons-filled: "\f111";
$icons8-var-xls: "\f135";
$icons8-var-zoom-in: "\f121";
