// Icons
// -------------------------


[data-icons8]:before,
.icons8-activity-history:before,
.icons8-add:before,
.icons8-add-2:before,
.icons8-add-3:before,
.icons8-add-administrator:before,
.icons8-add-administrator-2:before,
.icons8-add-column:before,
.icons8-add-file:before,
.icons8-add-file-2:before,
.icons8-add-folder:before,
.icons8-add-folder-2:before,
.icons8-add-key:before,
.icons8-add-key-2:before,
.icons8-add-link:before,
.icons8-add-list:before,
.icons8-add-new:before,
.icons8-add-new-2:before,
.icons8-add-node:before,
.icons8-add-node-2:before,
.icons8-add-row:before,
.icons8-add-shopping-cart:before,
.icons8-add-tag:before,
.icons8-add-text:before,
.icons8-add-text-2:before,
.icons8-add-user-group-man-man:before,
.icons8-add-user-group-man-man-2:before,
.icons8-add-user-male:before,
.icons8-add-user-male-2:before,
.icons8-align-justify:before,
.icons8-align-text-bottom:before,
.icons8-align-text-left:before,
.icons8-analyze:before,
.icons8-analyze-2:before,
.icons8-approval:before,
.icons8-archive-folder:before,
.icons8-ascending-sorting:before,
.icons8-attachment-pin:before,
.icons8-attachment-pin-2:before,
.icons8-automation:before,
.icons8-automation-2:before,
.icons8-bad-decision:before,
.icons8-bookmark-ribbon:before,
.icons8-bookmark-ribbon-filled:before,
.icons8-browser-history:before,
.icons8-browser-history-2:before,
.icons8-browser-history-3:before,
.icons8-business-building:before,
.icons8-businessman:before,
.icons8-cancel:before,
.icons8-change:before,
.icons8-chat-message:before,
.icons8-circled-female-user:before,
.icons8-clear-search:before,
.icons8-client-management:before,
.icons8-close-program:before,
.icons8-close-program-2:before,
.icons8-cloud-computing:before,
.icons8-collaboration:before,
.icons8-columns:before,
.icons8-comments:before,
.icons8-comments-2:before,
.icons8-contact:before,
.icons8-contacts:before,
.icons8-contacts-2:before,
.icons8-contacts-3:before,
.icons8-conversation-bubble:before,
.icons8-conversation-bubble-2:before,
.icons8-copy-file:before,
.icons8-copy-file-2:before,
.icons8-course:before,
.icons8-course-2:before,
.icons8-customer-support:before,
.icons8-data-encryption:before,
.icons8-database-import:before,
.icons8-delete:before,
.icons8-delete-2:before,
.icons8-delete-archive:before,
.icons8-delete-archive-2:before,
.icons8-delete-column:before,
.icons8-delete-database:before,
.icons8-delete-database-2:before,
.icons8-delete-document:before,
.icons8-delete-document-2:before,
.icons8-delete-file:before,
.icons8-delete-file-2:before,
.icons8-delete-folder:before,
.icons8-delete-folder-2:before,
.icons8-delete-forever:before,
.icons8-delete-forever-2:before,
.icons8-delete-row:before,
.icons8-delete-subnode:before,
.icons8-deleted-message:before,
.icons8-deleted-message-2:before,
.icons8-depot:before,
.icons8-desktop-download:before,
.icons8-desktop-download-2:before,
.icons8-details:before,
.icons8-diff-files:before,
.icons8-discussion-forum:before,
.icons8-document:before,
.icons8-document-header:before,
.icons8-document-header-2:before,
.icons8-download:before,
.icons8-download-2:before,
.icons8-download-3:before,
.icons8-download-from-the-cloud:before,
.icons8-download-from-the-cloud-2:before,
.icons8-downloads-folder:before,
.icons8-downloads-folder-2:before,
.icons8-dropbox:before,
.icons8-dropbox-2:before,
.icons8-easel:before,
.icons8-easel-2:before,
.icons8-edit:before,
.icons8-edit-file:before,
.icons8-edit-file-2:before,
.icons8-edit-filled:before,
.icons8-edit-node:before,
.icons8-edit-node-2:before,
.icons8-email-document:before,
.icons8-email-envelope:before,
.icons8-email-envelope-2:before,
.icons8-email-envelope-3:before,
.icons8-empty-document:before,
.icons8-entering-geo-fence:before,
.icons8-error:before,
.icons8-expand-arrow:before,
.icons8-export-pdf:before,
.icons8-export-pdf-2:before,
.icons8-eye:before,
.icons8-eye-filled:before,
.icons8-file:before,
.icons8-file-submodule:before,
.icons8-filter:before,
.icons8-filter-2:before,
.icons8-filter-3:before,
.icons8-filter-4:before,
.icons8-filter-and-sort:before,
.icons8-filter-and-sort-2:before,
.icons8-folder:before,
.icons8-folder-invoices:before,
.icons8-forward-message:before,
.icons8-gps:before,
.icons8-grid:before,
.icons8-group:before,
.icons8-group-2:before,
.icons8-group-3:before,
.icons8-group-message:before,
.icons8-group-of-projects:before,
.icons8-height:before,
.icons8-height-2:before,
.icons8-here:before,
.icons8-horizontal-line:before,
.icons8-horizontal-line-2:before,
.icons8-id-card:before,
.icons8-id-not-verified:before,
.icons8-id-not-verified-2:before,
.icons8-id-not-verified-filled:before,
.icons8-identification-documents:before,
.icons8-import-csv:before,
.icons8-incoming-data:before,
.icons8-info:before,
.icons8-info-2:before,
.icons8-insert:before,
.icons8-insert-table:before,
.icons8-instagram-comment:before,
.icons8-instagram-comment-2:before,
.icons8-instagram-comment-3:before,
.icons8-journal:before,
.icons8-key-2:before,
.icons8-left-2:before,
.icons8-left-arrow:before,
.icons8-left-arrow-2:before,
.icons8-left-arrow-3:before,
.icons8-line:before,
.icons8-link:before,
.icons8-list:before,
.icons8-login-as-user:before,
.icons8-mail-filter:before,
.icons8-mail-filter-2:before,
.icons8-many-to-many:before,
.icons8-map-editing:before,
.icons8-marker-off:before,
.icons8-menu-2:before,
.icons8-menu-2-2:before,
.icons8-menu-2-filled:before,
.icons8-message:before,
.icons8-message-2:before,
.icons8-microsoft-excel:before,
.icons8-move:before,
.icons8-multiply:before,
.icons8-name:before,
.icons8-near-me:before,
.icons8-new-copy:before,
.icons8-new-copy-2:before,
.icons8-new-file:before,
.icons8-new-file-2:before,
.icons8-new-message:before,
.icons8-new-message-2:before,
.icons8-new-message-3:before,
.icons8-notification:before,
.icons8-notification-filled:before,
.icons8-ok:before,
.icons8-ok-2:before,
.icons8-ok-3:before,
.icons8-open-document:before,
.icons8-open-file-under-cursor:before,
.icons8-open-file-under-cursor-filled:before,
.icons8-outline-of-a-face:before,
.icons8-overview:before,
.icons8-padlock:before,
.icons8-page-overview-4:before,
.icons8-paper-plane:before,
.icons8-paper-plane-2:before,
.icons8-paper-with-arrow-right:before,
.icons8-paper-with-arrow-right-2:before,
.icons8-pdf:before,
.icons8-pdf-2:before,
.icons8-pdf-3:before,
.icons8-pdf-4:before,
.icons8-pdf-5:before,
.icons8-pdf-6:before,
.icons8-pin:before,
.icons8-pin-3:before,
.icons8-play:before,
.icons8-play-2:before,
.icons8-play-button-circled:before,
.icons8-playlist:before,
.icons8-plus:before,
.icons8-plus-math:before,
.icons8-powerpoint:before,
.icons8-ppt:before,
.icons8-price-tag:before,
.icons8-profile-picture-placeholder:before,
.icons8-purchase-order:before,
.icons8-remove-administrator:before,
.icons8-remove-administrator-2:before,
.icons8-remove-key:before,
.icons8-remove-tag:before,
.icons8-remove-user-male:before,
.icons8-reply-all-arrow:before,
.icons8-reply-all-arrow-2:before,
.icons8-reply-arrow:before,
.icons8-reply-arrow-2:before,
.icons8-reseller:before,
.icons8-restore:before,
.icons8-reuse:before,
.icons8-reuse-2:before,
.icons8-right-pointing-arrow:before,
.icons8-right-pointing-arrow-2:before,
.icons8-rotate:before,
.icons8-save-close:before,
.icons8-screenshot:before,
.icons8-search:before,
.icons8-search-filled:before,
.icons8-select-all:before,
.icons8-send:before,
.icons8-send-2:before,
.icons8-send-email:before,
.icons8-services:before,
.icons8-services-2:before,
.icons8-set-as-resume:before,
.icons8-settings:before,
.icons8-share:before,
.icons8-share-2:before,
.icons8-share-3:before,
.icons8-share-arrow:before,
.icons8-share-arrow-2:before,
.icons8-shopping-cart:before,
.icons8-sidebar-menu:before,
.icons8-smart-card:before,
.icons8-sort:before,
.icons8-sort-by-recently-viewed:before,
.icons8-sort-down:before,
.icons8-sort-down-filled:before,
.icons8-sort-filled:before,
.icons8-sort-up:before,
.icons8-sort-up-filled:before,
.icons8-sorting-options:before,
.icons8-speech-bubble:before,
.icons8-summary-list:before,
.icons8-summary-list-2:before,
.icons8-synchronize:before,
.icons8-table-properties:before,
.icons8-template:before,
.icons8-template-2:before,
.icons8-three-dots-symbol:before,
.icons8-three-dots-symbol-2:before,
.icons8-todo-list:before,
.icons8-transaction-list:before,
.icons8-trash:before,
.icons8-trash-2:before,
.icons8-trash-can:before,
.icons8-upload-to-cloud:before,
.icons8-upload-to-the-cloud:before,
.icons8-upload-to-the-cloud-2:before,
.icons8-user:before,
.icons8-user-filled:before,
.icons8-versions:before,
.icons8-view:before,
.icons8-view-column:before,
.icons8-view-module-filled:before,
.icons8-visit:before,
.icons8-whatsapp:before,
.icons8-whatsapp-2:before,
.icons8-xlarge-icons:before,
.icons8-xlarge-icons-filled:before,
.icons8-xls:before,
.icons8-xls-2:before,
.icons8-zoom-in:before,
{ @include icons8-font; }

[data-icons8]:before { content: attr(data-icons8); }

.icons8-activity-history:before { content: $icons8-var-activity-history; }
.icons8-add:before { content: $icons8-var-add; }
.icons8-add-2:before { content: $icons8-var-add-2; }
.icons8-add-3:before { content: $icons8-var-add-3; }
.icons8-add-administrator:before { content: $icons8-var-add-administrator; }
.icons8-add-administrator-2:before { content: $icons8-var-add-administrator-2; }
.icons8-add-column:before { content: $icons8-var-add-column; }
.icons8-add-file:before { content: $icons8-var-add-file; }
.icons8-add-file-2:before { content: $icons8-var-add-file-2; }
.icons8-add-folder:before { content: $icons8-var-add-folder; }
.icons8-add-folder-2:before { content: $icons8-var-add-folder-2; }
.icons8-add-key:before { content: $icons8-var-add-key; }
.icons8-add-key-2:before { content: $icons8-var-add-key-2; }
.icons8-add-link:before { content: $icons8-var-add-link; }
.icons8-add-list:before { content: $icons8-var-add-list; }
.icons8-add-new:before { content: $icons8-var-add-new; }
.icons8-add-new-2:before { content: $icons8-var-add-new-2; }
.icons8-add-node:before { content: $icons8-var-add-node; }
.icons8-add-node-2:before { content: $icons8-var-add-node-2; }
.icons8-add-row:before { content: $icons8-var-add-row; }
.icons8-add-shopping-cart:before { content: $icons8-var-add-shopping-cart; }
.icons8-add-tag:before { content: $icons8-var-add-tag; }
.icons8-add-text:before { content: $icons8-var-add-text; }
.icons8-add-text-2:before { content: $icons8-var-add-text-2; }
.icons8-add-user-group-man-man:before { content: $icons8-var-add-user-group-man-man; }
.icons8-add-user-group-man-man-2:before { content: $icons8-var-add-user-group-man-man-2; }
.icons8-add-user-male:before { content: $icons8-var-add-user-male; }
.icons8-add-user-male-2:before { content: $icons8-var-add-user-male-2; }
.icons8-align-justify:before { content: $icons8-var-align-justify; }
.icons8-align-text-bottom:before { content: $icons8-var-align-text-bottom; }
.icons8-align-text-left:before { content: $icons8-var-align-text-left; }
.icons8-analyze:before { content: $icons8-var-analyze; }
.icons8-analyze-2:before { content: $icons8-var-analyze-2; }
.icons8-approval:before { content: $icons8-var-approval; }
.icons8-archive-folder:before { content: $icons8-var-archive-folder; }
.icons8-ascending-sorting:before { content: $icons8-var-ascending-sorting; }
.icons8-attachment-pin:before { content: $icons8-var-attachment-pin; }
.icons8-attachment-pin-2:before { content: $icons8-var-attachment-pin-2; }
.icons8-automation:before { content: $icons8-var-automation; }
.icons8-automation-2:before { content: $icons8-var-automation-2; }
.icons8-bad-decision:before { content: $icons8-var-bad-decision; }
.icons8-bookmark-ribbon:before { content: $icons8-var-bookmark-ribbon; }
.icons8-bookmark-ribbon-filled:before { content: $icons8-var-bookmark-ribbon-filled; }
.icons8-browser-history:before { content: $icons8-var-browser-history; }
.icons8-browser-history-2:before { content: $icons8-var-browser-history-2; }
.icons8-browser-history-3:before { content: $icons8-var-browser-history-3; }
.icons8-business-building:before { content: $icons8-var-business-building; }
.icons8-businessman:before { content: $icons8-var-businessman; }
.icons8-cancel:before { content: $icons8-var-cancel; }
.icons8-change:before { content: $icons8-var-change; }
.icons8-chat-message:before { content: $icons8-var-chat-message; }
.icons8-circled-female-user:before { content: $icons8-var-circled-female-user; }
.icons8-clear-search:before { content: $icons8-var-clear-search; }
.icons8-client-management:before { content: $icons8-var-client-management; }
.icons8-close-program:before { content: $icons8-var-close-program; }
.icons8-close-program-2:before { content: $icons8-var-close-program-2; }
.icons8-cloud-computing:before { content: $icons8-var-cloud-computing; }
.icons8-collaboration:before { content: $icons8-var-collaboration; }
.icons8-columns:before { content: $icons8-var-columns; }
.icons8-comments:before { content: $icons8-var-comments; }
.icons8-comments-2:before { content: $icons8-var-comments-2; }
.icons8-contact:before { content: $icons8-var-contact; }
.icons8-contacts:before { content: $icons8-var-contacts; }
.icons8-contacts-2:before { content: $icons8-var-contacts-2; }
.icons8-contacts-3:before { content: $icons8-var-contacts-3; }
.icons8-conversation-bubble:before { content: $icons8-var-conversation-bubble; }
.icons8-conversation-bubble-2:before { content: $icons8-var-conversation-bubble-2; }
.icons8-copy-file:before { content: $icons8-var-copy-file; }
.icons8-copy-file-2:before { content: $icons8-var-copy-file-2; }
.icons8-course:before { content: $icons8-var-course; }
.icons8-course-2:before { content: $icons8-var-course-2; }
.icons8-customer-support:before { content: $icons8-var-customer-support; }
.icons8-data-encryption:before { content: $icons8-var-data-encryption; }
.icons8-database-import:before { content: $icons8-var-database-import; }
.icons8-delete:before { content: $icons8-var-delete; }
.icons8-delete-2:before { content: $icons8-var-delete-2; }
.icons8-delete-archive:before { content: $icons8-var-delete-archive; }
.icons8-delete-archive-2:before { content: $icons8-var-delete-archive-2; }
.icons8-delete-column:before { content: $icons8-var-delete-column; }
.icons8-delete-database:before { content: $icons8-var-delete-database; }
.icons8-delete-database-2:before { content: $icons8-var-delete-database-2; }
.icons8-delete-document:before { content: $icons8-var-delete-document; }
.icons8-delete-document-2:before { content: $icons8-var-delete-document-2; }
.icons8-delete-file:before { content: $icons8-var-delete-file; }
.icons8-delete-file-2:before { content: $icons8-var-delete-file-2; }
.icons8-delete-folder:before { content: $icons8-var-delete-folder; }
.icons8-delete-folder-2:before { content: $icons8-var-delete-folder-2; }
.icons8-delete-forever:before { content: $icons8-var-delete-forever; }
.icons8-delete-forever-2:before { content: $icons8-var-delete-forever-2; }
.icons8-delete-row:before { content: $icons8-var-delete-row; }
.icons8-delete-subnode:before { content: $icons8-var-delete-subnode; }
.icons8-deleted-message:before { content: $icons8-var-deleted-message; }
.icons8-deleted-message-2:before { content: $icons8-var-deleted-message-2; }
.icons8-depot:before { content: $icons8-var-depot; }
.icons8-desktop-download:before { content: $icons8-var-desktop-download; }
.icons8-desktop-download-2:before { content: $icons8-var-desktop-download-2; }
.icons8-details:before { content: $icons8-var-details; }
.icons8-diff-files:before { content: $icons8-var-diff-files; }
.icons8-discussion-forum:before { content: $icons8-var-discussion-forum; }
.icons8-document:before { content: $icons8-var-document; }
.icons8-document-header:before { content: $icons8-var-document-header; }
.icons8-document-header-2:before { content: $icons8-var-document-header-2; }
.icons8-download:before { content: $icons8-var-download; }
.icons8-download-2:before { content: $icons8-var-download-2; }
.icons8-download-3:before { content: $icons8-var-download-3; }
.icons8-download-from-the-cloud:before { content: $icons8-var-download-from-the-cloud; }
.icons8-download-from-the-cloud-2:before { content: $icons8-var-download-from-the-cloud-2; }
.icons8-downloads-folder:before { content: $icons8-var-downloads-folder; }
.icons8-downloads-folder-2:before { content: $icons8-var-downloads-folder-2; }
.icons8-dropbox:before { content: $icons8-var-dropbox; }
.icons8-dropbox-2:before { content: $icons8-var-dropbox-2; }
.icons8-easel:before { content: $icons8-var-easel; }
.icons8-easel-2:before { content: $icons8-var-easel-2; }
.icons8-edit:before { content: $icons8-var-edit; }
.icons8-edit-file:before { content: $icons8-var-edit-file; }
.icons8-edit-file-2:before { content: $icons8-var-edit-file-2; }
.icons8-edit-filled:before { content: $icons8-var-edit-filled; }
.icons8-edit-node:before { content: $icons8-var-edit-node; }
.icons8-edit-node-2:before { content: $icons8-var-edit-node-2; }
.icons8-email-document:before { content: $icons8-var-email-document; }
.icons8-email-envelope:before { content: $icons8-var-email-envelope; }
.icons8-email-envelope-2:before { content: $icons8-var-email-envelope-2; }
.icons8-email-envelope-3:before { content: $icons8-var-email-envelope-3; }
.icons8-empty-document:before { content: $icons8-var-empty-document; }
.icons8-entering-geo-fence:before { content: $icons8-var-entering-geo-fence; }
.icons8-error:before { content: $icons8-var-error; }
.icons8-expand-arrow:before { content: $icons8-var-expand-arrow; }
.icons8-export-pdf:before { content: $icons8-var-export-pdf; }
.icons8-export-pdf-2:before { content: $icons8-var-export-pdf-2; }
.icons8-eye:before { content: $icons8-var-eye; }
.icons8-eye-filled:before { content: $icons8-var-eye-filled; }
.icons8-file:before { content: $icons8-var-file; }
.icons8-file-submodule:before { content: $icons8-var-file-submodule; }
.icons8-filter:before { content: $icons8-var-filter; }
.icons8-filter-2:before { content: $icons8-var-filter-2; }
.icons8-filter-3:before { content: $icons8-var-filter-3; }
.icons8-filter-4:before { content: $icons8-var-filter-4; }
.icons8-filter-and-sort:before { content: $icons8-var-filter-and-sort; }
.icons8-filter-and-sort-2:before { content: $icons8-var-filter-and-sort-2; }
.icons8-folder:before { content: $icons8-var-folder; }
.icons8-folder-invoices:before { content: $icons8-var-folder-invoices; }
.icons8-forward-message:before { content: $icons8-var-forward-message; }
.icons8-gps:before { content: $icons8-var-gps; }
.icons8-grid:before { content: $icons8-var-grid; }
.icons8-group:before { content: $icons8-var-group; }
.icons8-group-2:before { content: $icons8-var-group-2; }
.icons8-group-3:before { content: $icons8-var-group-3; }
.icons8-group-message:before { content: $icons8-var-group-message; }
.icons8-group-of-projects:before { content: $icons8-var-group-of-projects; }
.icons8-height:before { content: $icons8-var-height; }
.icons8-height-2:before { content: $icons8-var-height-2; }
.icons8-here:before { content: $icons8-var-here; }
.icons8-horizontal-line:before { content: $icons8-var-horizontal-line; }
.icons8-horizontal-line-2:before { content: $icons8-var-horizontal-line-2; }
.icons8-id-card:before { content: $icons8-var-id-card; }
.icons8-id-not-verified:before { content: $icons8-var-id-not-verified; }
.icons8-id-not-verified-2:before { content: $icons8-var-id-not-verified-2; }
.icons8-id-not-verified-filled:before { content: $icons8-var-id-not-verified-filled; }
.icons8-identification-documents:before { content: $icons8-var-identification-documents; }
.icons8-import-csv:before { content: $icons8-var-import-csv; }
.icons8-incoming-data:before { content: $icons8-var-incoming-data; }
.icons8-info:before { content: $icons8-var-info; }
.icons8-info-2:before { content: $icons8-var-info-2; }
.icons8-insert:before { content: $icons8-var-insert; }
.icons8-insert-table:before { content: $icons8-var-insert-table; }
.icons8-instagram-comment:before { content: $icons8-var-instagram-comment; }
.icons8-instagram-comment-2:before { content: $icons8-var-instagram-comment-2; }
.icons8-instagram-comment-3:before { content: $icons8-var-instagram-comment-3; }
.icons8-journal:before { content: $icons8-var-journal; }
.icons8-key-2:before { content: $icons8-var-key-2; }
.icons8-left-2:before { content: $icons8-var-left-2; }
.icons8-left-arrow:before { content: $icons8-var-left-arrow; }
.icons8-left-arrow-2:before { content: $icons8-var-left-arrow-2; }
.icons8-left-arrow-3:before { content: $icons8-var-left-arrow-3; }
.icons8-line:before { content: $icons8-var-line; }
.icons8-link:before { content: $icons8-var-link; }
.icons8-list:before { content: $icons8-var-list; }
.icons8-login-as-user:before { content: $icons8-var-login-as-user; }
.icons8-mail-filter:before { content: $icons8-var-mail-filter; }
.icons8-mail-filter-2:before { content: $icons8-var-mail-filter-2; }
.icons8-many-to-many:before { content: $icons8-var-many-to-many; }
.icons8-map-editing:before { content: $icons8-var-map-editing; }
.icons8-marker-off:before { content: $icons8-var-marker-off; }
.icons8-menu-2:before { content: $icons8-var-menu-2; }
.icons8-menu-2-2:before { content: $icons8-var-menu-2-2; }
.icons8-menu-2-filled:before { content: $icons8-var-menu-2-filled; }
.icons8-message:before { content: $icons8-var-message; }
.icons8-message-2:before { content: $icons8-var-message-2; }
.icons8-microsoft-excel:before { content: $icons8-var-microsoft-excel; }
.icons8-move:before { content: $icons8-var-move; }
.icons8-multiply:before { content: $icons8-var-multiply; }
.icons8-name:before { content: $icons8-var-name; }
.icons8-near-me:before { content: $icons8-var-near-me; }
.icons8-new-copy:before { content: $icons8-var-new-copy; }
.icons8-new-copy-2:before { content: $icons8-var-new-copy-2; }
.icons8-new-file:before { content: $icons8-var-new-file; }
.icons8-new-file-2:before { content: $icons8-var-new-file-2; }
.icons8-new-message:before { content: $icons8-var-new-message; }
.icons8-new-message-2:before { content: $icons8-var-new-message-2; }
.icons8-new-message-3:before { content: $icons8-var-new-message-3; }
.icons8-notification:before { content: $icons8-var-notification; }
.icons8-notification-filled:before { content: $icons8-var-notification-filled; }
.icons8-ok:before { content: $icons8-var-ok; }
.icons8-ok-2:before { content: $icons8-var-ok-2; }
.icons8-ok-3:before { content: $icons8-var-ok-3; }
.icons8-open-document:before { content: $icons8-var-open-document; }
.icons8-open-file-under-cursor:before { content: $icons8-var-open-file-under-cursor; }
.icons8-open-file-under-cursor-filled:before { content: $icons8-var-open-file-under-cursor-filled; }
.icons8-outline-of-a-face:before { content: $icons8-var-outline-of-a-face; }
.icons8-overview:before { content: $icons8-var-overview; }
.icons8-padlock:before { content: $icons8-var-padlock; }
.icons8-page-overview-4:before { content: $icons8-var-page-overview-4; }
.icons8-paper-plane:before { content: $icons8-var-paper-plane; }
.icons8-paper-plane-2:before { content: $icons8-var-paper-plane-2; }
.icons8-paper-with-arrow-right:before { content: $icons8-var-paper-with-arrow-right; }
.icons8-paper-with-arrow-right-2:before { content: $icons8-var-paper-with-arrow-right-2; }
.icons8-pdf:before { content: $icons8-var-pdf; }
.icons8-pdf-2:before { content: $icons8-var-pdf-2; }
.icons8-pdf-3:before { content: $icons8-var-pdf-3; }
.icons8-pdf-4:before { content: $icons8-var-pdf-4; }
.icons8-pdf-5:before { content: $icons8-var-pdf-5; }
.icons8-pdf-6:before { content: $icons8-var-pdf-6; }
.icons8-pin:before { content: $icons8-var-pin; }
.icons8-pin-3:before { content: $icons8-var-pin-3; }
.icons8-play:before { content: $icons8-var-play; }
.icons8-play-2:before { content: $icons8-var-play-2; }
.icons8-play-button-circled:before { content: $icons8-var-play-button-circled; }
.icons8-playlist:before { content: $icons8-var-playlist; }
.icons8-plus:before { content: $icons8-var-plus; }
.icons8-plus-math:before { content: $icons8-var-plus-math; }
.icons8-powerpoint:before { content: $icons8-var-powerpoint; }
.icons8-ppt:before { content: $icons8-var-ppt; }
.icons8-price-tag:before { content: $icons8-var-price-tag; }
.icons8-profile-picture-placeholder:before { content: $icons8-var-profile-picture-placeholder; }
.icons8-purchase-order:before { content: $icons8-var-purchase-order; }
.icons8-remove-administrator:before { content: $icons8-var-remove-administrator; }
.icons8-remove-administrator-2:before { content: $icons8-var-remove-administrator-2; }
.icons8-remove-key:before { content: $icons8-var-remove-key; }
.icons8-remove-tag:before { content: $icons8-var-remove-tag; }
.icons8-remove-user-male:before { content: $icons8-var-remove-user-male; }
.icons8-reply-all-arrow:before { content: $icons8-var-reply-all-arrow; }
.icons8-reply-all-arrow-2:before { content: $icons8-var-reply-all-arrow-2; }
.icons8-reply-arrow:before { content: $icons8-var-reply-arrow; }
.icons8-reply-arrow-2:before { content: $icons8-var-reply-arrow-2; }
.icons8-reseller:before { content: $icons8-var-reseller; }
.icons8-restore:before { content: $icons8-var-restore; }
.icons8-reuse:before { content: $icons8-var-reuse; }
.icons8-reuse-2:before { content: $icons8-var-reuse-2; }
.icons8-right-pointing-arrow:before { content: $icons8-var-right-pointing-arrow; }
.icons8-right-pointing-arrow-2:before { content: $icons8-var-right-pointing-arrow-2; }
.icons8-rotate:before { content: $icons8-var-rotate; }
.icons8-save-close:before { content: $icons8-var-save-close; }
.icons8-screenshot:before { content: $icons8-var-screenshot; }
.icons8-search:before { content: $icons8-var-search; }
.icons8-search-filled:before { content: $icons8-var-search-filled; }
.icons8-select-all:before { content: $icons8-var-select-all; }
.icons8-send:before { content: $icons8-var-send; }
.icons8-send-2:before { content: $icons8-var-send-2; }
.icons8-send-email:before { content: $icons8-var-send-email; }
.icons8-services:before { content: $icons8-var-services; }
.icons8-services-2:before { content: $icons8-var-services-2; }
.icons8-set-as-resume:before { content: $icons8-var-set-as-resume; }
.icons8-settings:before { content: $icons8-var-settings; }
.icons8-share:before { content: $icons8-var-share; }
.icons8-share-2:before { content: $icons8-var-share-2; }
.icons8-share-3:before { content: $icons8-var-share-3; }
.icons8-share-arrow:before { content: $icons8-var-share-arrow; }
.icons8-share-arrow-2:before { content: $icons8-var-share-arrow-2; }
.icons8-shopping-cart:before { content: $icons8-var-shopping-cart; }
.icons8-sidebar-menu:before { content: $icons8-var-sidebar-menu; }
.icons8-smart-card:before { content: $icons8-var-smart-card; }
.icons8-sort:before { content: $icons8-var-sort; }
.icons8-sort-by-recently-viewed:before { content: $icons8-var-sort-by-recently-viewed; }
.icons8-sort-down:before { content: $icons8-var-sort-down; }
.icons8-sort-down-filled:before { content: $icons8-var-sort-down-filled; }
.icons8-sort-filled:before { content: $icons8-var-sort-filled; }
.icons8-sort-up:before { content: $icons8-var-sort-up; }
.icons8-sort-up-filled:before { content: $icons8-var-sort-up-filled; }
.icons8-sorting-options:before { content: $icons8-var-sorting-options; }
.icons8-speech-bubble:before { content: $icons8-var-speech-bubble; }
.icons8-summary-list:before { content: $icons8-var-summary-list; }
.icons8-summary-list-2:before { content: $icons8-var-summary-list-2; }
.icons8-synchronize:before { content: $icons8-var-synchronize; }
.icons8-table-properties:before { content: $icons8-var-table-properties; }
.icons8-template:before { content: $icons8-var-template; }
.icons8-template-2:before { content: $icons8-var-template-2; }
.icons8-three-dots-symbol:before { content: $icons8-var-three-dots-symbol; }
.icons8-three-dots-symbol-2:before { content: $icons8-var-three-dots-symbol-2; }
.icons8-todo-list:before { content: $icons8-var-todo-list; }
.icons8-transaction-list:before { content: $icons8-var-transaction-list; }
.icons8-trash:before { content: $icons8-var-trash; }
.icons8-trash-2:before { content: $icons8-var-trash-2; }
.icons8-trash-can:before { content: $icons8-var-trash-can; }
.icons8-upload-to-cloud:before { content: $icons8-var-upload-to-cloud; }
.icons8-upload-to-the-cloud:before { content: $icons8-var-upload-to-the-cloud; }
.icons8-upload-to-the-cloud-2:before { content: $icons8-var-upload-to-the-cloud-2; }
.icons8-user:before { content: $icons8-var-user; }
.icons8-user-filled:before { content: $icons8-var-user-filled; }
.icons8-versions:before { content: $icons8-var-versions; }
.icons8-view:before { content: $icons8-var-view; }
.icons8-view-column:before { content: $icons8-var-view-column; }
.icons8-view-module-filled:before { content: $icons8-var-view-module-filled; }
.icons8-visit:before { content: $icons8-var-visit; }
.icons8-whatsapp:before { content: $icons8-var-whatsapp; }
.icons8-whatsapp-2:before { content: $icons8-var-whatsapp-2; }
.icons8-xlarge-icons:before { content: $icons8-var-xlarge-icons; }
.icons8-xlarge-icons-filled:before { content: $icons8-var-xlarge-icons-filled; }
.icons8-xls:before { content: $icons8-var-xls; }
.icons8-xls-2:before { content: $icons8-var-xls-2; }
.icons8-zoom-in:before { content: $icons8-var-zoom-in; }

