// Font paths
// -------------------------

@font-face {
  font-family: "schemaengine";
  src: url("../fonts/schemaengine.eot");
  src: url("../fonts/schemaengine.eot?#iefix") format("embedded-opentype"),
       url("../fonts/schemaengine.woff2") format("woff2"),
       url("../fonts/schemaengine.woff") format("woff"),
       url("../fonts/schemaengine.ttf") format("truetype"),
       url("../fonts/schemaengine.svg#schemaengine") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "schemaengine";
    src: url("../fonts/schemaengine.svg#schemaengine") format("svg");
  }
}