// Variables
// --------------------------


$icons8-css-prefix: "icons8";
$icons8-font-name: "Wishkarma";
$icons8-font-path: "../fonts";

$icons8-var-activity-history: "\f100";
$icons8-var-add: "\f101";
$icons8-var-add-2: "\f102";
$icons8-var-add-3: "\f103";
$icons8-var-add-administrator: "\f104";
$icons8-var-add-administrator-2: "\f105";
$icons8-var-add-column: "\f106";
$icons8-var-add-file: "\f107";
$icons8-var-add-file-2: "\f108";
$icons8-var-add-folder: "\f109";
$icons8-var-add-folder-2: "\f10a";
$icons8-var-add-key: "\f10b";
$icons8-var-add-key-2: "\f10c";
$icons8-var-add-link: "\f10d";
$icons8-var-add-list: "\f10e";
$icons8-var-add-new: "\f10f";
$icons8-var-add-new-2: "\f110";
$icons8-var-add-node: "\f111";
$icons8-var-add-node-2: "\f112";
$icons8-var-add-row: "\f113";
$icons8-var-add-shopping-cart: "\f114";
$icons8-var-add-tag: "\f115";
$icons8-var-add-text: "\f116";
$icons8-var-add-text-2: "\f117";
$icons8-var-add-user-group-man-man: "\f118";
$icons8-var-add-user-group-man-man-2: "\f119";
$icons8-var-add-user-male: "\f11a";
$icons8-var-add-user-male-2: "\f11b";
$icons8-var-align-justify: "\f11c";
$icons8-var-align-text-bottom: "\f11d";
$icons8-var-align-text-left: "\f11e";
$icons8-var-analyze: "\f11f";
$icons8-var-analyze-2: "\f120";
$icons8-var-approval: "\f121";
$icons8-var-archive-folder: "\f122";
$icons8-var-ascending-sorting: "\f123";
$icons8-var-attachment-pin: "\f124";
$icons8-var-attachment-pin-2: "\f125";
$icons8-var-automation: "\f126";
$icons8-var-automation-2: "\f127";
$icons8-var-bad-decision: "\f128";
$icons8-var-bookmark-ribbon: "\f129";
$icons8-var-bookmark-ribbon-filled: "\f12a";
$icons8-var-browser-history: "\f12b";
$icons8-var-browser-history-2: "\f12c";
$icons8-var-browser-history-3: "\f12d";
$icons8-var-business-building: "\f12e";
$icons8-var-businessman: "\f12f";
$icons8-var-cancel: "\f130";
$icons8-var-change: "\f131";
$icons8-var-chat-message: "\f132";
$icons8-var-circled-female-user: "\f133";
$icons8-var-clear-search: "\f134";
$icons8-var-client-management: "\f135";
$icons8-var-close-program: "\f136";
$icons8-var-close-program-2: "\f137";
$icons8-var-cloud-computing: "\f138";
$icons8-var-collaboration: "\f139";
$icons8-var-columns: "\f13a";
$icons8-var-comments: "\f13b";
$icons8-var-comments-2: "\f13c";
$icons8-var-contact: "\f13d";
$icons8-var-contacts: "\f13e";
$icons8-var-contacts-2: "\f13f";
$icons8-var-contacts-3: "\f140";
$icons8-var-conversation-bubble: "\f141";
$icons8-var-conversation-bubble-2: "\f142";
$icons8-var-copy-file: "\f143";
$icons8-var-copy-file-2: "\f144";
$icons8-var-course: "\f145";
$icons8-var-course-2: "\f146";
$icons8-var-customer-support: "\f147";
$icons8-var-data-encryption: "\f148";
$icons8-var-database-import: "\f149";
$icons8-var-delete: "\f14a";
$icons8-var-delete-2: "\f14b";
$icons8-var-delete-archive: "\f14c";
$icons8-var-delete-archive-2: "\f14d";
$icons8-var-delete-column: "\f14e";
$icons8-var-delete-database: "\f14f";
$icons8-var-delete-database-2: "\f150";
$icons8-var-delete-document: "\f151";
$icons8-var-delete-document-2: "\f152";
$icons8-var-delete-file: "\f153";
$icons8-var-delete-file-2: "\f154";
$icons8-var-delete-folder: "\f155";
$icons8-var-delete-folder-2: "\f156";
$icons8-var-delete-forever: "\f157";
$icons8-var-delete-forever-2: "\f158";
$icons8-var-delete-row: "\f159";
$icons8-var-delete-subnode: "\f15a";
$icons8-var-deleted-message: "\f15b";
$icons8-var-deleted-message-2: "\f15c";
$icons8-var-depot: "\f15d";
$icons8-var-desktop-download: "\f15e";
$icons8-var-desktop-download-2: "\f15f";
$icons8-var-details: "\f160";
$icons8-var-diff-files: "\f161";
$icons8-var-discussion-forum: "\f162";
$icons8-var-document: "\f163";
$icons8-var-document-header: "\f164";
$icons8-var-document-header-2: "\f165";
$icons8-var-download: "\f166";
$icons8-var-download-2: "\f167";
$icons8-var-download-3: "\f168";
$icons8-var-download-from-the-cloud: "\f169";
$icons8-var-download-from-the-cloud-2: "\f16a";
$icons8-var-downloads-folder: "\f16b";
$icons8-var-downloads-folder-2: "\f16c";
$icons8-var-dropbox: "\f16d";
$icons8-var-dropbox-2: "\f16e";
$icons8-var-easel: "\f16f";
$icons8-var-easel-2: "\f170";
$icons8-var-edit: "\f171";
$icons8-var-edit-file: "\f172";
$icons8-var-edit-file-2: "\f173";
$icons8-var-edit-filled: "\f174";
$icons8-var-edit-node: "\f175";
$icons8-var-edit-node-2: "\f176";
$icons8-var-email-document: "\f177";
$icons8-var-email-envelope: "\f178";
$icons8-var-email-envelope-2: "\f179";
$icons8-var-email-envelope-3: "\f17a";
$icons8-var-empty-document: "\f17b";
$icons8-var-entering-geo-fence: "\f17c";
$icons8-var-error: "\f17d";
$icons8-var-expand-arrow: "\f17e";
$icons8-var-export-pdf: "\f17f";
$icons8-var-export-pdf-2: "\f180";
$icons8-var-eye: "\f181";
$icons8-var-eye-filled: "\f182";
$icons8-var-file: "\f183";
$icons8-var-file-submodule: "\f184";
$icons8-var-filter: "\f185";
$icons8-var-filter-2: "\f186";
$icons8-var-filter-3: "\f187";
$icons8-var-filter-4: "\f188";
$icons8-var-filter-and-sort: "\f189";
$icons8-var-filter-and-sort-2: "\f18a";
$icons8-var-folder: "\f18b";
$icons8-var-folder-invoices: "\f18c";
$icons8-var-forward-message: "\f18d";
$icons8-var-gps: "\f18e";
$icons8-var-grid: "\f18f";
$icons8-var-group: "\f190";
$icons8-var-group-2: "\f191";
$icons8-var-group-3: "\f192";
$icons8-var-group-message: "\f193";
$icons8-var-group-of-projects: "\f194";
$icons8-var-height: "\f195";
$icons8-var-height-2: "\f196";
$icons8-var-here: "\f197";
$icons8-var-horizontal-line: "\f198";
$icons8-var-horizontal-line-2: "\f199";
$icons8-var-id-card: "\f19a";
$icons8-var-id-not-verified: "\f19b";
$icons8-var-id-not-verified-2: "\f19c";
$icons8-var-id-not-verified-filled: "\f19d";
$icons8-var-identification-documents: "\f19e";
$icons8-var-import-csv: "\f19f";
$icons8-var-incoming-data: "\f1a0";
$icons8-var-info: "\f1a1";
$icons8-var-info-2: "\f1a2";
$icons8-var-insert: "\f1a3";
$icons8-var-insert-table: "\f1a4";
$icons8-var-instagram-comment: "\f1a5";
$icons8-var-instagram-comment-2: "\f1a6";
$icons8-var-instagram-comment-3: "\f1a7";
$icons8-var-journal: "\f1a8";
$icons8-var-key-2: "\f1a9";
$icons8-var-left-2: "\f1aa";
$icons8-var-left-arrow: "\f1ab";
$icons8-var-left-arrow-2: "\f1ac";
$icons8-var-left-arrow-3: "\f1ad";
$icons8-var-line: "\f1ae";
$icons8-var-link: "\f1af";
$icons8-var-list: "\f1b0";
$icons8-var-login-as-user: "\f1b1";
$icons8-var-mail-filter: "\f1b2";
$icons8-var-mail-filter-2: "\f1b3";
$icons8-var-many-to-many: "\f1b4";
$icons8-var-map-editing: "\f1b5";
$icons8-var-marker-off: "\f1b6";
$icons8-var-menu-2: "\f1b7";
$icons8-var-menu-2-2: "\f1b8";
$icons8-var-menu-2-filled: "\f1b9";
$icons8-var-message: "\f1ba";
$icons8-var-message-2: "\f1bb";
$icons8-var-microsoft-excel: "\f1bc";
$icons8-var-move: "\f1bd";
$icons8-var-multiply: "\f1be";
$icons8-var-name: "\f1bf";
$icons8-var-near-me: "\f1c0";
$icons8-var-new-copy: "\f1c1";
$icons8-var-new-copy-2: "\f1c2";
$icons8-var-new-file: "\f1c3";
$icons8-var-new-file-2: "\f1c4";
$icons8-var-new-message: "\f1c5";
$icons8-var-new-message-2: "\f1c6";
$icons8-var-new-message-3: "\f1c7";
$icons8-var-notification: "\f1c8";
$icons8-var-notification-filled: "\f1c9";
$icons8-var-ok: "\f1ca";
$icons8-var-ok-2: "\f1cb";
$icons8-var-ok-3: "\f1cc";
$icons8-var-open-document: "\f1cd";
$icons8-var-open-file-under-cursor: "\f1ce";
$icons8-var-open-file-under-cursor-filled: "\f1cf";
$icons8-var-outline-of-a-face: "\f1d0";
$icons8-var-overview: "\f1d1";
$icons8-var-padlock: "\f1d2";
$icons8-var-page-overview-4: "\f1d3";
$icons8-var-paper-plane: "\f1d4";
$icons8-var-paper-plane-2: "\f1d5";
$icons8-var-paper-with-arrow-right: "\f1d6";
$icons8-var-paper-with-arrow-right-2: "\f1d7";
$icons8-var-pdf: "\f1d8";
$icons8-var-pdf-2: "\f1d9";
$icons8-var-pdf-3: "\f1da";
$icons8-var-pdf-4: "\f1db";
$icons8-var-pdf-5: "\f1dc";
$icons8-var-pdf-6: "\f1dd";
$icons8-var-pin: "\f1de";
$icons8-var-pin-3: "\f1df";
$icons8-var-play: "\f1e0";
$icons8-var-play-2: "\f1e1";
$icons8-var-play-button-circled: "\f1e2";
$icons8-var-playlist: "\f1e3";
$icons8-var-plus: "\f1e4";
$icons8-var-plus-math: "\f1e5";
$icons8-var-powerpoint: "\f1e6";
$icons8-var-ppt: "\f1e7";
$icons8-var-price-tag: "\f1e8";
$icons8-var-profile-picture-placeholder: "\f1e9";
$icons8-var-purchase-order: "\f1ea";
$icons8-var-remove-administrator: "\f1eb";
$icons8-var-remove-administrator-2: "\f1ec";
$icons8-var-remove-key: "\f1ed";
$icons8-var-remove-tag: "\f1ee";
$icons8-var-remove-user-male: "\f1ef";
$icons8-var-reply-all-arrow: "\f1f0";
$icons8-var-reply-all-arrow-2: "\f1f1";
$icons8-var-reply-arrow: "\f1f2";
$icons8-var-reply-arrow-2: "\f1f3";
$icons8-var-reseller: "\f1f4";
$icons8-var-restore: "\f1f5";
$icons8-var-reuse: "\f1f6";
$icons8-var-reuse-2: "\f1f7";
$icons8-var-right-pointing-arrow: "\f1f8";
$icons8-var-right-pointing-arrow-2: "\f1f9";
$icons8-var-rotate: "\f1fa";
$icons8-var-save-close: "\f1fb";
$icons8-var-screenshot: "\f1fc";
$icons8-var-search: "\f1fd";
$icons8-var-search-filled: "\f1fe";
$icons8-var-select-all: "\f1ff";
$icons8-var-send: "\f200";
$icons8-var-send-2: "\f201";
$icons8-var-send-email: "\f202";
$icons8-var-services: "\f203";
$icons8-var-services-2: "\f204";
$icons8-var-set-as-resume: "\f205";
$icons8-var-settings: "\f206";
$icons8-var-share: "\f207";
$icons8-var-share-2: "\f208";
$icons8-var-share-3: "\f209";
$icons8-var-share-arrow: "\f20a";
$icons8-var-share-arrow-2: "\f20b";
$icons8-var-shopping-cart: "\f20c";
$icons8-var-sidebar-menu: "\f20d";
$icons8-var-smart-card: "\f20e";
$icons8-var-sort: "\f20f";
$icons8-var-sort-by-recently-viewed: "\f210";
$icons8-var-sort-down: "\f211";
$icons8-var-sort-down-filled: "\f212";
$icons8-var-sort-filled: "\f213";
$icons8-var-sort-up: "\f214";
$icons8-var-sort-up-filled: "\f215";
$icons8-var-sorting-options: "\f216";
$icons8-var-speech-bubble: "\f217";
$icons8-var-summary-list: "\f218";
$icons8-var-summary-list-2: "\f219";
$icons8-var-synchronize: "\f21a";
$icons8-var-table-properties: "\f21b";
$icons8-var-template: "\f21c";
$icons8-var-template-2: "\f21d";
$icons8-var-three-dots-symbol: "\f21e";
$icons8-var-three-dots-symbol-2: "\f21f";
$icons8-var-todo-list: "\f220";
$icons8-var-transaction-list: "\f221";
$icons8-var-trash: "\f222";
$icons8-var-trash-2: "\f223";
$icons8-var-trash-can: "\f224";
$icons8-var-upload-to-cloud: "\f225";
$icons8-var-upload-to-the-cloud: "\f226";
$icons8-var-upload-to-the-cloud-2: "\f227";
$icons8-var-user: "\f228";
$icons8-var-user-filled: "\f229";
$icons8-var-versions: "\f22a";
$icons8-var-view: "\f22b";
$icons8-var-view-column: "\f22c";
$icons8-var-view-module-filled: "\f22d";
$icons8-var-visit: "\f22e";
$icons8-var-whatsapp: "\f22f";
$icons8-var-whatsapp-2: "\f230";
$icons8-var-xlarge-icons: "\f231";
$icons8-var-xlarge-icons-filled: "\f232";
$icons8-var-xls: "\f233";
$icons8-var-xls-2: "\f234";
$icons8-var-zoom-in: "\f235";
